#mytable { 
  width: 700px; 
  border-collapse: collapse; 
  margin:40px auto;
  margin-top: 0px;
  }
.mytable { 
  width: 700px; 
  border-collapse: collapse; 
  margin:40px auto;
  margin-top: 0px;
  }
#myInput {
  width: 40%;
  font-size: 16px;
  padding: 10px 12px 4px 20px;
  border: 2px solid #ddd;
  margin-bottom: 12px;
  border-color: orange;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
  }
  tr:nth-of-type(even) { 
  background: #ffff; 
  }

th { 
  background: #3498db; 
  color: white; 
  font-weight: bold; 
  }

td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 18px;
  width:0%;
  }



.dropdown{
  position: absolute;
  top: 250px;
  right: 260px;
}
.dropdown ul{
  display: inline-flex;
  list-style: none;
  margin-top: 2%;
}
.dropdown ul li a{
  text-decoration: none;
  color: #f90606;
}
.dropdown ul li{
  background: #ff9999;
  width: 170px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #39dc79;
  font-size: 23px;
  position: relative;
  font-family: big john;
}
.dropdown ul li:hover{
  color: #39dc79;
}
.dropdown ul ul{
  display: none;
}
.dropdown ul li:hover > ul{
  display: block;
}
.dropdown ul ul ul{
  margin-left: 130px;
  top: 0;
  position: absolute;
}

