{% extends 'schedule/adminstart.html' %}
{% block styles %}
{% endblock %}
  {% block content %}
    <br><br>
	  <div  class="row">
     <div class="col-sm-2"></div>
  
    <div class="col-md-8">
     <div class="card">
    <div class="card-header text-center text-info " ><h4>CREATE AN EXAM</h4></div>
	   <form action="{% url 'head1' %}" method="POST">
      {% csrf_token %}<center>
    <input type="text" size="40" name="heading" value="{{ data1.heading }}">&nbsp;&nbsp;&nbsp; <button class="btn btn-success"> UPDATE</button></center>
     
      </form>
   
<br>
<table class="mytable">

    <tr>
      <th>EXAM&nbsp;ID</th>
      <th>EXAM&nbsp;DATE</th>
      <th>EXAM&nbsp;TIME</th>
      <th>CHANGE </th>
    </tr>

    {% for i in data %}
    <tr>
     
      <td>{{ i.id }}</td>
      <td>{{ i.exam_date }}</td>
      <td>{{ i.exam_time }}</td>
      <td><a href="{% url 'dele' i.id %}"><button class="btn btn-danger">DELETE&nbsp;</button></a></td>
    </tr>
    {% endfor %}
  <tr>
     <form action="{% url 'addexam' %}" method="POST">
    {% csrf_token %}
      <td><input type="number" name="id" placeholder="id"></td>
      <td><input type="date" name="date" placeholder="Enter exam date"></td>
      <td><input type="text" name="time" placeholder="Enter time"></td>
      
      <td><button class="btn btn-info">ADD&nbsp;EXAM</button></td>
    </tr>
</table>
</form>
{% endblock content %}