{% extends 'schedule/adminstart.html' %}
{% block content %}
<br><br><br>
	<div  class="row">
    <div class="col-sm-3"></div>
  
    <div class="col-md-6">
     <div class="card">
    <div class="card-header text-center text-info " >ADD&nbsp;ROOM</div>
	<form action="{% url 'addroom' %}" method="POST">
		{% csrf_token %}
     <div class="card-body text-center">
     <label>ROOM&nbsp;No:</label>
     <input type="text" placeholder="Enter roomno" name="rno" required>
     <br>
      <label>ROOM&nbsp;CAPACITY:</label>
    <input type="number" placeholder="Enter room capacity" name="rcd" required>
    <br>
  
    <label>STATUS:</label>
    <select name = "st" >
           <option>y</option>
           <option>n</option>

           
       </select>
   
</div>
<div class="card-footer text-center">
	 <button class="btn btn-success">ADD&nbsp;ROOM</button>
	</div>
</form>
</div>
</div>
</div>
    {% endblock content %}