{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="{% static   'css/mystyle.css' %}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<input type="checkbox" id="check">
	<label for="check">
		<i class="fas fa-bars" id="btn"></i>
		<i class="fas fa-times" id="cancel"></i>
	</label>
	<div class="menubar">
	<ul>
		<li><a href="{% url 'timetable' %}">VIEW TIMETABLE</a></li>
		<li><a href="{% url 'home' %}">LOGOUT</a></li>
	</ul>
	</div>
	<div class="sidebar">
		<ul>
			<li><a href="#"><i class="fas fa-qrcode"></i>CREATE EXAM</a></li>
			<li><a href="#"><i class="fas fa-qrcode"></i>ADD ROOM</a></li>
			<li><a href="#"><i class="fas fa-qrcode"></i>ADD FACULTY</a></li>
			<li><a href="#"><i class="fas fa-qrcode"></i>UPDATE FACULTY STATUS</a></li>
			<li><a href="#"><i class="fas fa-qrcode"></i>UPDATE ROOM STATUS</a></li>
			<li><a href="#"><i class="fas fa-qrcode"></i>VIEW FACULTY CONSTRAINTS</a></li>
		</ul>
	</div>
	<section></section>
</body>
</html>