<!DOCTYPE html>
<html>
<head>
	<title>LOGIN FORM</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="loginbox">
	<img src="student.png" class="student">
		<h1>LOGIN HERE</h1>
		<form action="*/action_page.html">
			<div class="formbox">
				<label>ROLL NUMBER</label>
				<input type="varchar" name="rno" placeholder="Enter RollNumber">
			</div>
			<div class="formbox">
				<label>USERNAME</label>
				<input type="text" name="uname" placeholder="Enter Username">
			</div>
		</form>
	</div>
</body>
</html>