{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static   'css/style1.css' %}">
  <title></title>
</head>

</html>
<body>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      
    </tr>
  </thead>
  <tbody>
    {% for i in data %} 
    <tr>
      <td data-column="First Name">{{i.roomno}}</td>
      <td data-column="Last Name">{{i.roomcapacity}}</td>
      <td data-column="Job Title">{{i.room_status}}</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>